Руководство по использованию бота

<strong>Обратная связь</strong>- способ связаться с администрацией канала. Пишите интересующие вопросы, отправляйте отзывы и свои работы

<strong>Личный кабинет</strong> - место Вашего обучения: проверка домашнего задания и просмотр результатов.

<strong>Что такое проверка домашнего задания?</strong>
Для каждой статьи есть задание для усвоения материала. Вы можете купить домашнее задание для одной конкретной статьи или для всего курса сразу. В эту услугу входит: архив с дз, связь с кураторами для решения трудностей в процессе выполнения, разбор ошибок и оценка решенного задания. Также в личном кабинете можно отследить прогресс обучения.

<strong>Основной канал</strong> - @world_ps
<a href="http://www.pornhub.com/">Статья для новичков</a>